body {
    background-color: #000099;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: rgb(226, 200, 152);
    padding: 2rem;
}

main {
    max-width: 70%;
    margin: auto;
    text-align: center;
}

main h1 {
    color: white;
}

main ul {
    list-style-type: none;
}

main li {
    background-color: white;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 10px;
}

main input {
    padding: 10px;
    border-radius: 3px;
}

main input[type='submit'] {
    border-radius: 8px;
    border-style: inset;
}